body {
  background-color: #040;
  background-image: url(1295fd0be59716054bf148e7baf30282.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #19b3e6;
  color: #fff;
  font-size: 1.8em; }

